In [ ]:
#1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically 
in a computer system. A database is usually controlled by a database management system (DBMS). 
Together, the data and the DBMS, along with the applications that are associated with them, 
are referred to as a database system, often shortened to just database.

SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in 
managing data in relational database management systems (RDBMS) since the 1970s. 

In the early years, when storage was expensive, SQL databases focused on reducing data duplication.
SQL is still widely used for querying relational databases, where data is stored in rows and tables 
that are linked in various ways. One table record may link to one other or to many others, 
or many table records may be related to many records in another table. 
These relational databases, which offer fast data storage and recovery, can handle great amounts of data
and complex SQL queries.

In the other hand NoSQL is a non-relational database, meaning it allows different structures than a 
SQL database (not rows and columns) and more flexibility to use a format that best fits the data. 
The term “NoSQL” was not coined until the early 2000s. It doesn’t mean the systems don’t use SQL, 
as NoSQL databases do sometimes support some SQL commands. More accurately, 
“NoSQL” is sometimes defined as “not only SQL.”

In [ ]:
#2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). 
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create 
or modify the tables in SQL.

In [ ]:
#CREATE

This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

In [ ]:
CREATE TABLE Student_info
(
Dept_Id number(2),
Dept_name varchar(30),
Course varchar(10)
);

In [ ]:
#ALTER

This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

In [ ]:
ALTER TABLE Student_info
ADD CGPA number;

In [ ]:
#TRUNCATE

This command is used to remove all rows from the table, but the structure of the table still exists.

In [ ]:
TRUNCATE TABLE Student_info;

In [ ]:
#DROP

This command is used to remove an existing table along with its structure from the Database.

In [ ]:
DROP TABLE Student_info;

In [ ]:
#3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. The keywords or statements that are associated with the data manipulation language are: INSERT, UPDATE and DELETE. These are the primary statements of data manipulation language (DML) and are used widely.

In [ ]:
#INSERT

To add data to a table the INSERT command is used. The syntax of the INSERT command is given below:

In [ ]:
INSERT into table-name values (data, data …)

In [ ]:
#UPDATE

To update a table or row or column in the table we use the update command.

In [ ]:
Update table-name set column-name = value where condition;

In [ ]:
#DELETE

To delete a table row or some data from a table in the database the delete command is used.
The syntax of delete command is as follows:

In [ ]:
DELETE from table-name;

In [ ]:
#4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. 
The purpose of DQL commands is to get the schema relation based on the query passed to it.

In [ ]:
#SELECT

An SQL SELECT statement retrieves records from a database table according to clauses 
(for example, FROM and WHERE) that specify criteria. The syntax is:

In [ ]:
SELECT column1, column2 FROM table1, table2 WHERE column2='value';

In [ ]:
#5. Explain Primary Key and Foreign Key.

A primary key is used to ensure data in the specific column is unique. It uniquely identifies a record 
in the relational database table. Only one primary key is allowed in a table. 
It is a combination of UNIQUE and Not Null constraints. It does not allow NULL values. 
Its value cannot be deleted from the parent table. It constraint can be implicitly defined on the temporary tables.


A foreign key is a column or group of columns in a relational database table that provides a link between 
data in two tables. It refers to the field in a table which is the primary key of another table. 
More than one foreign key are allowed in a table. It can contain duplicate values and a table in a 
relational database. It can also contain NULL values. Its value can be deleted from the child table. 
It constraint cannot be defined on the local or global temporary tables.

In [ ]:
#6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# First we have to install mysql.connector by using pip
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password"
)

print(mydb)

In SQL procedures, a cursor make it possible to define a result set (a set of data rows) and 
perform complex logic on a row by row basis. By using the same mechanics, an SQL procedure can also 
define a result set and return it directly to the caller of the SQL procedure or to a client application. 
A cursor can be viewed as a pointer to one row in a set of rows. The cursor can only reference one row at a time,
but can move to other rows of the result set as needed.

The Execute method executes the query, SQL statement or procedure specified in the CommandText property 
of the Command object.

In [ ]:
#7. Give the order of execution of SQL clauses in an SQL query.

1. FROM - Tables are joined to get the base data.

2. WHERE - The base data is filtered.

3. GROUP BY - The filtered base data is grouped.

4. HAVING - The grouped base data is filtered.

5. SELECT - The final data is returned.

6. ORDER BY - The final data is sorted.

7. LIMIT - The returned data is limited to row count.