In [ ]:
#1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
"""A database is an organized collection of structured information, or data, typically stored electronically 
in a computer system. A database is usually controlled by a database management system (DBMS). 
Together, the data and the DBMS, along with the applications that are associated with them, 
are referred to as a database system, often shortened to just database.

SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in 
managing data in relational database management systems (RDBMS) since the 1970s. 

In the early years, when storage was expensive, SQL databases focused on reducing data duplication.
SQL is still widely used for querying relational databases, where data is stored in rows and tables 
that are linked in various ways. One table record may link to one other or to many others, 
or many table records may be related to many records in another table. 
These relational databases, which offer fast data storage and recovery, can handle great amounts of data
and complex SQL queries.

In the other hand NoSQL is a non-relational database, meaning it allows different structures than a 
SQL database (not rows and columns) and more flexibility to use a format that best fits the data. 
The term “NoSQL” was not coined until the early 2000s. It doesn’t mean the systems don’t use SQL, 
as NoSQL databases do sometimes support some SQL commands. More accurately, 
“NoSQL” is sometimes defined as “not only SQL.” """

In [ ]:
#2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
"""Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). 
DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create 
or modify the tables in SQL. """

In [2]:
#CREATE
"""This command is used to create a new table in SQL. The user has to give information like table name, 
column names, and their datatypes."""

SyntaxError: invalid syntax (655623039.py, line 5)

In [12]:
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

SyntaxError: invalid syntax (641748932.py, line 1)